.finalCost {
  display: none;
}

.deliveryform {
  display: none;
}

.thankyou {
  display: none;
}

body {
	font: 14px/20px  Arial, Helvetica, sans-serif;
	color:#5f5e4e;
	background-color: #d7d7b1;
	position:relative;
	min-width:960px;
}

h1, label{
	font-weight: normal;
	font-family: 'Open Sans', sans-serif ;
	color: #009fb3;
}

img {
  width: 60%;
}
